@import '~@angular/material/theming';
@include mat-core();

@import '/colors/colors.scss';

// THEME

$telekom-primary: mat-palette($magenta, 500);
$telekom-accent:  mat-palette($magenta2, 500);

$telekom-theme: mat-light-theme($telekom-primary, $telekom-accent);

@include angular-material-theme($telekom-theme);

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-inner-container, .mat-checkbox-inner-container .mat-checkbox-frame, .mat-checkbox-input {
    border-radius: 10px;
}

.mat-checkbox.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-inner-container, .mat-checkbox-inner-container .mat-checkbox-frame, .mat-checkbox-input {
    border-radius: 10px;
}