@import '~@angular/material/theming';
@include mat-core();

@import '/colors/colors.scss';

// THEME

$telekom-primary: mat-palette($magenta, 500);
$telekom-accent:  mat-palette($magenta2, 500);

$telekom-theme: mat-light-theme($telekom-primary, $telekom-accent);

@include angular-material-theme($telekom-theme);